.base {
    position: relative;
    height: 500px;
    width: 700px;
    border-radius: 1.5rem;
    background-color: #C4222F;
    box-shadow: 0 1rem .1rem #770E1A;
    caret-color: transparent;
    //transform: scale(.8);
}