$color: #474747;

.control {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    height: 55px;
    width: calc(100% - 3rem);
    bottom: 1.25rem;
    right: 1.5rem;
    //border: 1px solid #fff;

    .led {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 70px;
        padding: 0rem;
        //border: 1px solid #fff;
        position: relative;

        span:nth-child(1) {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            box-shadow: .1rem .1rem .2rem #1d1d1d;
        }

        .on {
            background-color: rgb(73, 250, 73);
        }

        .off {
            background-color: #fc4747;
        }

        span:nth-child(2) {
            text-align: right;
            flex:1;
            color: #fff;
        }

        span:nth-child(3) {
            position: absolute;
            padding: .5rem;
            bottom: -70%;
            width: 100px;
            left: 50%;
            border-radius: 1rem;
            transform: translateX(-50%);
            background-color: #2d2d2d;
            color: #fff;
            font-size: .9rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    .tracks {
        height: 100%;
        flex: 1;
        //border: 1px solid #fff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        color: #fff;
        position: relative;

        .switch_groove {
            height: 45%;
            position: relative;
            display: flex;
            align-items: center;

            &::after {
                content: '';
                position: absolute;
                border-radius: 10px;
                left: 50%;
                transform: translateX(-50%);
                width: 88%;
                height: 40%;
                border: 1px solid rgb(141, 141, 141);
                background-color: #2d2d2d;
                box-shadow: inset .06rem -.08rem 0 #505050;
            }

            .switch {
                height: 100%;
                width: 33.3%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;

                &::after {
                    content: '';
                    position: absolute;
                    border-radius: 4px;
                    width: 10px;
                    height: 17px;
                    background-color: lightgray;
                    box-shadow: .1rem 0 0 #4d4d4d;
                }
            }

        }

        .plates {
            height: 50%;
            display: flex;

            .plate {
                flex: 1;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                align-items: center;
                height: 100%;
                font-size: .9rem;
                cursor: pointer;
                //background-color: rgb(41, 41, 20);

                &:hover {
                    opacity: .9;
                }

                .num {
                    background-color: #2d2d2d;
                    box-shadow: .05rem .05rem 0 #4d4d4d;
                    margin-right: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    padding: .3rem;
                    font-size: .9rem;
                }
            }
        }
    }

    .button {
        display: flex;
        height: 55%;
        width: 55px;
        border-radius: 15px;
        border: 3px solid #3d3d3d;
        cursor: pointer;

        &:hover {
            filter: brightness(1.1);
        }

        span {
            height: 100%;
        }

        span:nth-child(1) {
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
        }

        span:nth-child(2) {
            border-top-right-radius: inherit;
            border-bottom-right-radius: inherit;
        }
    }

    .off {
        background-color: lighten($color, 25);

        span:nth-child(1) {
            width: 50%;
            background-color: $color;
        }

        span:nth-child(2) {
            width: 45%;
            background-color: lighten($color, 15);
        }
    }

    .on {
        background-color: lighten($color, 25);
        justify-content: flex-end;

        span:nth-child(2) {
            width: 50%;
            background-color: $color;
        }

        span:nth-child(1) {
            width: 45%;
            background-color: lighten($color, 15);
        }
    }
}