$color: #4d4d4d;

.control {
    position: absolute;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    height: 45px;
    width: calc(100% - 3rem);
    bottom: 1.5rem;
    right: 1.5rem;
    //border: 1px solid #fff;

    .led {
        height: 100%;
        width: 80px;
        border: 1px solid #fff;
    }

    .tracks {
        height: 100%;
        flex: 1;
        border: 1px solid #fff;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        color: #fff;

        span {
            flex: 1;
            font-size: 1.2rem;
            text-align: center;
            cursor: pointer;

            &:hover {
                opacity: .9;
            }
        }
    }


    .button {
        display: flex;
        height: 100%;
        width: 80px;
        background-color: lighten($color, 25);
        cursor: pointer;

        &:hover {
            filter: brightness(1.3);
        }

        span:nth-child(1) {
            height: 100%;
            width: 50%;
            background-color: $color;
        }

        span:nth-child(2) {
            height: 100%;
            width: 45%;
            background-color: lighten($color, 15);
        }
    }
}