$color: #4d4d4d;

    .button {
        position: absolute;
        bottom: 1.5rem;
        right: 1.5rem;
        height: 70px;
        width: 40px;
        background-color: lighten($color, 25);
        cursor: pointer;

        &:hover {
            filter: brightness(1.3);
        }

        span:nth-child(1) {
            height: 50%;
            width: 100%;
            background-color: $color;
            display: block;
        }

        span:nth-child(2) {
            height: 45%;
            width: 100%;
            background-color: lighten($color, 15);
            display: block;
        }
    }