.plate {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    height: 390px;
    width: 390px;
    background-color: #2d2d2d;
    border-radius: 50%;
}

.rotation {
    animation: rotation 2.5s infinite linear;
    animation-delay: 1.5s;
}

.plate div:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5%;
    width: 5%;
    background: #2d2d2d;
    border: 1px solid #a0a0a0;
    border-radius: 50%;
}

.plate div:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35%;
    width: 35%;
    background: #174b75;
    border-radius: 50%;
    z-index: -1;
}

.plate div:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95%;
    width: 95%;
    border: 2px solid #4e4e4e;
    background: transparent;
    border-radius: 50%;
    border-bottom: none;
    z-index: -1;
}

.plate div:nth-child(4) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    border: 2px solid #363636;
    background: transparent;
    border-radius: 50%;
    border-top: none;
    z-index: -1;
}

.plate div:nth-child(5) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 85%;
    border: 2px solid #4e4e4e;
    background: transparent;
    border-radius: 50%;
    border-left: none;
    z-index: -1;
}

.plate div:nth-child(6) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    border: 2px solid #363636;
    background: transparent;
    border-radius: 50%;
    border-right: none;
    z-index: -1;
}

.plate div:nth-child(7) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 75%;
    border: 2px solid #4e4e4e;
    background: transparent;
    border-radius: 50%;
    border-bottom: none;
    z-index: -1;
}

.plate div:nth-child(8) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 70%;
    border: 2px solid #363636;
    background: transparent;
    border-radius: 50%;
    border-top: none;
    z-index: -1;
}

.plate div:nth-child(9) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65%;
    width: 65%;
    border: 2px solid #4e4e4e;
    background: transparent;
    border-radius: 50%;
    border-left: none;
    z-index: -1;
}

.plate div:nth-child(10) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 60%;
    border: 2px solid #363636;
    background: transparent;
    border-radius: 50%;
    border-right: none;
    z-index: -1;
}

.plate div:nth-child(12) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55%;
    width: 55%;
    border: 2px solid #4e4e4e;
    background: transparent;
    border-radius: 50%;
    border-bottom: none;
    z-index: -1;
}

.plate div:nth-child(13) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    border: 2px solid #4e4e4e;
    background: transparent;
    border-radius: 50%;
    border-top: none;
    z-index: -1;
}

@keyframes rotation {
    from {
        transform: translateY(-50%) rotate(0deg);
    }

    to {
        transform: translateY(-50%) rotate(359deg);
    }
}