$color1: #3d3d3d;
$color2: rgb(184, 184, 184);
$color3: rgb(224, 223, 223);

.rest {
    position: absolute;
    top: 2.5rem;
    right: 4.5rem;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: $color1;
    box-shadow: .15rem .05rem .25rem #000;
    //animation: swing ease-in-out .8s infinite alternate;
    z-index: 1;

    .tonearm {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 70%;
        width: 32.5%;
        background-color: $color2;
        border-radius: .15rem;
        box-shadow: .25rem 0 0 darken(rgba(184, 184, 184, .6), 30);

        &::after {
            content: '';
            position: inherit;
            left: inherit;
            top: inherit;
            transform: inherit;
            height: 10px;
            width: 10px;
            background-color: $color1;
            border-radius: 50%;
        }

        .main {
            position: absolute;
            left: 50%;
            top: 100%;
            height: 280px;
            width: 10px;
            transform: translateX(-50%);
            background-color: $color3;
            box-shadow: .25rem 0 .1rem darken(rgba(224, 223, 223, .6), 30);

            .headshell {
                position: absolute;
                left: 50%;
                bottom: -7px;
                height: 15px;
                width: 60px;
                overflow: hidden;
                transform: translateX(-50%) rotate(-45deg);

                span {
                    position: absolute;

                }

                span:nth-child(1) {
                    top: 50%;
                    transform: translateY(-50%);
                    height: 5px;
                    background-color: $color1;
                    width: 100%;
                    z-index: 1;
                    mix-blend-mode: luminosity;
                }

                span:nth-child(2) {
                    right: 0;
                    height: 100%;
                    background-color: $color2;
                    border-top-right-radius: .6rem;
                    border-bottom-right-radius: .6rem;
                    width: 55%;
                }

                span:nth-child(3) {
                    width: 45%;
                    height: 100%;
                    z-index: -1;
                    //border: 1px solid greenyellow;

                    &::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        width: 120%;
                        height: 50%;
                        background-color: #fff;
                        transform: rotate(-7deg);
                        transform-origin: top right;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 120%;
                        height: 50%;
                        background-color: #fff;
                        transform: rotate(7deg);
                        transform-origin: bottom right;
                    }
                }
            }
        }
    }
}

@keyframes swing {
    0% {
        transform: rotate(28.5deg);
    }

    100% {
        transform: rotate(27.5deg);
    }
}