.rest {
    position: absolute;
    width: 85px;
    height: 85px;
    top: 2.5rem;
    right: 3.5rem;
    border-radius: 50%;
    background-color: #2d2d2d;
    z-index: 1;
    caret-color: transparent;
    transform: rotate(0deg);
    transition: 1.3s;
    transition-timing-function: cubic-bezier(.36,.07,.19,.97);

}

.rotate {
    transform: rotate(20deg);
}

.rest span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    border-radius: inherit;
    background-color: inherit;
    z-index: 1;
}

.tonearm {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: 50px;
    background-color: rgb(252, 252, 252);
}

.shake {
    animation: shake 0.82s infinite cubic-bezier(.36,.07,.19,.97) both;
    animation-delay: 1.5s;
}

.tonearm div:first-child {
    position: absolute;
    top: 99%;
    left: 50%;
    width: 10px;
    height: 130px;
    transform: translateX(-50%);
    background-color: inherit;
}

.tonearm div:last-child {
    position: absolute;
    top: calc(99% + 130px);
    left: 50%;
    width: 10px;
    height: 130px;
    transform: translateX(-50%) rotate(20deg);
    transform-origin: top right;
    background-color: inherit;
}

.tonearm div:last-child span {
    position: absolute;
    top: 95%;
    left: 50%;
    width: 20px;
    height: 30px;
    transform: translateX(-50%);
    background-color: lightgray;
    border-radius: 1rem;
}

@keyframes shake {
    10%, 90% {
      transform: translateX(-50%) translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translateX(-50%) translate3d(0, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translateX(-50%) translate3d(-1px, 0, 0);
    }
  
    40%, 60% {
      transform: translateX(-50%) translate3d(0, 0, 0);
    }
  }